.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-bg);
    position: sticky;
    top: 0;
    z-index: 500;
    border-bottom: var(--color-border) 2px solid;
}

.logo img {
    height: 8rem;
    width: auto;
    margin-bottom: -4rem;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-menu a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 500;
    transition: color 0.2s ease;
}

.nav-menu a:hover {
    color: var(--color-primary-hover);
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }
}