.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 500;
    border-bottom: #0070c2 2px solid;
}
/*treba namunjiti da moze lepo da radi za fon kada se doda hamburger za fon*/
.nav-menu ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}
.nav-menu a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: color 0.2s ease;
}
.nav-menu a:hover {
    color: #0070f3;
}
.logo img{
    height:8rem;
    width: auto;
    margin-bottom: -4rem;
}